# Large training artifacts
saved_models/
saved_models.zip
pretrained_models/
checkpoints/

# Large installers
Miniconda3-latest-Linux-x86_64.sh

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
.venv/
venv/
env/
